:root.theme-dark {
  /* --bg-color: rgba(0, 0, 40, 1); */
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: rgba(241, 178, 206, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --accent-shadow-color: rgba(255, 0, 112, 1);
  --decorations-color: rgba(219, 0, 255, 1);
  --decorations-border-color: rgba(255, 0, 112, 1);
  --title-decor-background: rgba(255, 0, 112, 1);
  --title-decor-text-color: rgba(0, 0, 40, 1);
  --link-hover-color: rgba(255, 0, 112, 0.4);
  --header-rec-color: rgba(255, 0, 112, 1);
  --main__section__title: rgba(255, 0, 112, 1);
  --footer_text-shadow: rgba(255, 0, 112, 1);
  --header__theme-menu-list: rgba(255, 0, 112, 1);
  --rec-display: flex;
}

.theme-dark .header__rec {
  --rec-display: flex;
}
