@media (prefers-color-scheme: light) {
  :root {
    --bg-color: rgba(255, 241, 247, 1);
    --bg-image: url(../images/cover-image-light.png);
    --text-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --accent-shadow-color: rgba(255, 141, 203, 1);
    --decorations-color: rgba(255, 194, 230, 1);
    --decorations-border-color: rgba(53, 52, 48, 1);
    --title-decor-background: rgba(255, 141, 203, 1);
    --link-hover-color: rgba(50, 49, 45, 0.4);
    --main-section-color-title: rgba(53, 52, 48, 1);
    --header-theme-menu-list: rgba(53, 52, 48, 1);
    --rec-display: none;
  }
}

:root.theme-light {
  --bg-color: rgba(255, 241, 247, 1);
  --bg-image: url(../images/cover-image-light.png);
  --text-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --accent-shadow-color: rgba(255, 141, 203, 1);
  --decorations-color: rgba(255, 194, 230, 1);
  --decorations-border-color: rgba(53, 52, 48, 1);
  --title-decor-background: rgba(255, 141, 203, 1);
  --link-hover-color: rgba(50, 49, 45, 0.4);
  --main-section-color-title: rgba(53, 52, 48, 1);
  --header-theme-menu-list: rgba(53, 52, 48, 1);
  --rec-display: none;
}
