.page {
  background-image: 
    var(--bg-image, url(../images/cover-image-dark.png));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-block-size: 100%;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  display: flex;
  flex-direction: column;
}

.decorations {
  color: var(--decorations-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  top: var(--section-padding);
  right: var(--section-padding);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  bottom: var(--section-padding);
  left: var(--section-padding);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-weight: bold;
  font-size: 1.125rem;
}

.header__theme-menu {
  justify-self: right;
  align-self: center;
  inline-size: 70px;   /* ширина */
  block-size: 98px;  
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--accent-color);
}

.header__theme-menu-item button {
  background-color: transparent;
  text-transform: lowercase;
  border: none;
}

.header__theme-menu-item:has(.header__theme-menu-button_active) .header__theme-menu-button {
  border: 1px solid currentColor;
  pointer-events: none;
}

/* header ----------------------------------------------*/

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  height: max(100vh, 668px);
  padding: var(--section-padding);
}

.header__rec {
  position: absolute;
  top: var(--section-padding);
  right: 20px;
  color: var(--accent-color);
  text-transform: uppercase;
  display: flex;
  gap: 10px;
}

.header__rec::after {
  content: '';
  align-self: center;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px currentColor;
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header-text {
  max-block-size: 117px;
  justify-self: center;
  align-self: center;
}

.header-title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* main ----------------------------------------------*/

.main {
  display: grid;
  background-color: var(--bg-color);
}

.main__section {
  display: grid;
  padding-inline: var(--section-padding);
}

.main__section:not(:last-child) {
  margin-block-end: 40px;
}

.main__section__text {
  color: var(--text-color);
  font-weight: var(--main__section__weight);
  line-height: var( --main__section__line-height);
}

.main__section__title {
  font-weight: 700;
  line-height: var( --main__section__line-height);
  font-size: 18px;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery:last-child {
  margin-bottom: 40px;
}

.gallery-image-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer ----------------------------------------------*/

.footer {
  background-color: var(--bg-color);
}
.footer-title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer {
  position: relative;
  display: grid;
  min-height: 100vh;
  background-color: var(--bg-color);
  min-block-size: 668px;
}

.footer-title {
  justify-self: center;
  align-self: center;
  font-weight: 700;
  color: var(--decorations-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}